* {
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

.menu a {
    background-color: blueviolet;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: white;
    font-weight: bold;
}

.result a {
    background-color: lightsteelblue;
    padding: 8px;
    margin-top: 10px;
    display: block;
    width: 100%;
    color: white;
    font-weight: bold;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    background-color: #0008ff;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    color: white;
}

form button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

form input {
    text-align: center;
    width: 50%;
    height: 40px;
    border: lightskyblue;
}

#main-header {
    background-color: #5672e5;
    padding: 15px;
    text-align: center;
}



@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}